<%= form_for @task do |f| %>
	<div>
    <%= f.label :due_date %>
    <%= f.date_field :due_date %>
  </div>
  <br/>
  <div>
    <%= f.label :task %>
    <%= f.text_area :name %>
  </div>
  <br/>
  <div>
    <%= f.submit %>
  </div>
<% end %>