<%= form_for @task do |f| %>
  <div class="form-group">
    <label><%= f.label :"To-do" %></label>
    <%= f.text_field :name %>
  </div>
	<div class="form-group">
    <label><%= f.label :due_date %></label>
    <%= f.date_field :due_date %>
  </div>
  <div>
    <%= f.submit%>
  </div>
<% end %>
