<h1>To-Do List</h1>

<h3><%= link_to "Add a task", new_task_path(@task)%></h3>

<p id="error"><%= flash[:error].join("</br>") %></p>

<% @tasks.each do |task| %>
  <li><%= task.name%> <%= task.due_date %> <%= link_to "Done", mark_as_done_task_path(task), method: :patch %> <%= link_to "Edit", edit_task_path(task)%> </li>
<% end %>



